<!DOCTYPE=HTML>
	<html>
		<head>
			<meta name="author" content="Bruno Tomas- 1700548">
			<meta name="author" content="Henrique Saula- 1700084">
			<meta name="author" content="Mariana Benevides- 1700549">
			<meta name="author" content="Nayara de Paula- 1700239">
			<meta name="author" content="Pedro Henrique- 1700552">
			<meta name="author" content="Yasmin de Laia- 1700550">

			<meta charset="UTF-8">

			<meta name="viewport" content="width-device-width, initial-scale=1">
			<title>
				{{ title }} - FIT
			</title>
			
			{% load staticfiles %}
			<link rel="shortcut icon" href="imagens\favicon.ico" >

			<link rel="stylesheet" type="text/css" href="css\estilo.css">
			<link rel="stylesheet" type="text/css" href="css\estilo-index.css">

		</head>
		
		<body class="body">

			<div class="quadro">
				<div class ="imagem">
				<img src="https://github.com/peehscavacini/TecWeb-TF-2B/blob/81755656e9b2e143736f9e4bc7201e549f8fe3e1/logo.png?raw=true" alt="logo" class="logo">
				</div>
			</div>

			<article>
				<!-- Se isso é o cabeçalho de uma página, ela deveria estar direto no BODY, da maneira que está parece que é o cabeçalho de um artigo específico.-->
  				<header class="header">
					<input type="checkbox" id="btn-menu">

					<label for="btn-menu">&#9776;</label>

					<nav class="menu">
						<ul>
							<li><a href="{% url 'home' %}">Home</a></li>
							<li>
								
									Lista de Cursos 
								
							</li>
							<li>
								
									Notícias
								
							</li>
							<li>
								<a href="{% url 'contato' %}">Home</a>
									Fale Conosco 
								</a>
							</li>
							<li>
								
									Cadastro
								
							</li>
							<li>
								
									Nova disciplina
								<
							</li>							
							<li>
								
									Login
								
							</li>							
						</ul>
					</nav>
				</header>
			</article>

			<div class="quadro">
			{% block content %}
			
			{% endblock %}			
			</div>
 

 			<footer class="footer">
				<p>&copy; {{ year }}. Faculdade Tecnologia Inovação.</p>
			</footer>
		</body>
	</html>